.caption{  
 max-width: 26rem;
 margin-right: auto;
 margin-left: auto;
}

p {
  color:rgb(58, 57, 57);
  font-size:14px;
  margin-bottom:0;
}
.first{
  margin-bottom:0;
}

.second{
  margin-top:0px;
}

h3,p {
  text-align:center;
}

h3{
  margin-top:0;
}
